/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */
.main {
	font-family: PTSans, Arial, sans-serif;
}
.main h1 { 
	font-size: 40px;
	font-weight: bold;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	color: orange;
}
.main h1 strong {
	font-size: 150px;
	margin-left: 14px;
	line-height: 1.05em;
	text-shadow: 4px 3px 6px rgba(0,0,0,.5);
	margin-right: -1.25em;
	color: white;
}
.main h2 {
	font-family: "Hoefler Text", Garamond, Times, serif;
	font-weight: bold;
	font-size: 36px;
	color: rgb(37,76,143);
	margin-top: 14px;
	margin-left: 19px;
}
.main .date {
	margin-top: 9px;
	margin-left: 65px;
}
.main .date strong {
	color: rgb(32,126,191);
    text-transform: uppercase;
    margin-left: 8px;
}